@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Rubik:100,200,300,400,500,600,700,800,900');

body {
    font-family: "Roboto", sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}


/* -------------------------------------------------------------------------------------------------------NavBar Formatting */

.navbar {
    width: 100%;
    background-color: rgba(0,0,0,0);
    position: fixed;
    z-index: 2;
}


.navbar.scrolled {
  background-color: rgba(50,50,50,0.90) !important;
  transition: background-color 400ms linear;
  position: fixed;
  width: 100%;
  border: 0;
  z-index: 2;
}

.show {
    background-color: rgba(50,50,50,0.90);
}

.collapsed {
    background-color: rgba(0,0,0,0);
}

@media (min-width: 992px) {
.navbar-expand-lg .show,
.navbar-expand-lg .collapsed {
    background-color: rgba(0,0,0,0);
}
}

.navbar .navbar-toggler {
    border: 0;
   }

.navbar-brand {
    font-size: 30px;
    font-weight: 200;
    color: #fafafa;
}

.navbar-brand:hover {
    font-size: 30px;
    font-weight: 200;
    color: #fafafa;
}

.navbar-brand-image {
    width: 30px;
    height: 30px;
}

@media (max-width: 576px) {
.navbar-brand {
    font-size: 20px;
}
.navbar-brand-image {
    width: 20px;
    height: 20px;
}
}

.IQ-highlight {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #E74C3C;
}

.main-menu ul {
    margin-right: 30px;
}

.main-menu li {
    padding: 5px;
}


.language ul {
    margin: 0;
    padding: 0;
}

.language li {
    margin: 0;
    padding: 0;
}

.language .nav-link {
    margin: 0;
    padding: 0;
    width: 20px;
    text-align: center;
}

.language .list-inline-item {
    margin-right: 4px;
}

.nav-link {
    color: #fafafa;
}

.nav-link:hover {
    color: #E74C3C;
}

.active span {
    color: #E74C3C;
    font-weight: 400;
}

.lang-active span {
    color: #E74C3C;
    font-weight: 400;
}




/* -------------------------------------------------------------------------------------------------------Home Image */

.home-image-container {
    padding: 0;
    height: 100vh;
    display: table;
}


.home-image-text {
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-family: "Rubik", sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    color: #fafafa;
    padding: 0;
    margin-bottom: 10px;
}

.jumbotron-IQ {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #fafafa;

    animation-name: home-message-color-change;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.jumbotron .lead{
    font-family: "Rubik", sans-serif;
    color: #fafafa;
    font-size: 26px;
    font-weight: 200;
    text-transform: uppercase;

    animation-name: home-message-color-change;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes home-message-color-change {
    from {
        color: #fafafa;
    }
    to {
        color: #E74C3C;
    }
}



.jumbotron .lead-text {
    font-family: "Rubik", sans-serif;
    color: #fafafa;
    font-size: 20px;
    font-weight: 100;
    padding-left: 10%;
    padding-right: 10%;
}


.more-info {
    margin-top: 25px;
    color: #fafafa;
    font-size: 16px;
    text-transform: uppercase;
}

.more-info i {
    font-size: 30px;
}

@media (max-width: 576px) {
.jumbotron h1 {
    font-size: 2.5rem;
}
.jumbotron .lead{
    font-size: 20px;
}
.jumbotron .lead-text {
    font-size: 16px;
}
.more-info {
    font-size: 12px;
}
.more-info i {
    font-size: 25px;
}
}

/* -------------------------------------------------------------------------------------------------------Expertise */

.container-expertise {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.expertise-text {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    width: 80%;
    min-height: 160px;
    z-index: 1;
    position: relative;
    top: -80px;
    border-color: #505050;
    border-width: 1px;
    box-shadow: 4px 4px rgba(100,100,100,0.5);
    margin: auto;
    display: table;
}

.expertise {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}


.expertise-text h4 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.expertise-text hr {
    border-color: #505050;
    width: 50%;
}

.expertise-image {
    overflow: hidden;
}

.expertise-image a {
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
}

.expertise-image img {
    transition: transform 1s ease;
}

.expertise-image a:hover {
    font-family: "Roboto", sans-serif;
    color: #E74C3C;
    text-decoration: none;
}

.expertise-image a:hover img {
    transform: scale(1.05);
}

.modal-body {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 576px) {
    .modal-body {
        font-size: 12px;
    }
}

/* -------------------------------------------------------------------------------------------------------Customers */

.container-customers {
    background-color: #eaeaea;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.customer-image {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50%;
    overflow: hidden;
    margin: auto;  
}


.collapse-format {
    background-color: rgba(0,0,0,0);
}


.card {
    background-color: rgba(0,0,0,0);
    border: 0;
}

.card-body {
    padding: 1%;
}

.card-body p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.card-body footer {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.card-header {
    background-color: rgba(0,0,0,0);
    border: 0;
}

.customer-link img {
    transition: transform 1s ease;
}

.customer-link h4 {
    font-family: "Roboto", sans-serif;
    color: black;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}

.card-header a:hover img {
    transform: scale(1.05);
}

.card-header a:hover h4 {
    font-family: "Roboto", sans-serif;
    color: #E74C3C;
    text-decoration: none;
}
.card-header a:hover {
    text-decoration: none;
}

/* -------------------------------------------------------------------------------------------------------Contact */

.container-contact {
    background-color: rgba(50,50,50,0.5);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.container-contact h2 {
    color: white;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control {
    margin-top: 20px;
}


#submit-button {
    margin-top: 40px;
    background-color: #999999;
    color: #fafafa;
    border: 0;
}

#submit-button:hover {
    background-color: #E74C3C;
    color: white;
}

@media (max-width: 576px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 80%;
    }
    #submit-button {
    margin-top: 40px;
    background-color: #999999;
    color: #fafafa;
    border: 0;
    }
}

/* -------------------------------------------------------------------------------------------------------Footer */

.footer {
    background-color: black;
}

.footer-links {
    padding: 10px 0;
    margin: auto;
    display: table;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.footer-links a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #E74C3C;
    text-decoration: none;
}

.footer-contact-details {
    padding: 10px 0;
    margin: auto;
    color: white;
    font-size: 14px;
    display: table;
}

.contact-details {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.contact-details p {
    margin: 0;
}

.footer-contact-details .IQ {
    color: #E74C3C;
    font-weight: 700;
}

.footer-social-media {
    padding: 10px 0;
    margin: auto;
    display: table;
}

.social-media {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.footer-social-media ul {
    list-style: none;
}

.footer-social-media li {
    display: inline;
}

.footer-social-media i {
    width: 40px;
    height: 40px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    margin: 5px;
}

.footer-social-media a {
    color: black;
    text-decoration: none;
}

.footer-social-media a:hover {
    color: black;
    text-decoration: none;
}

.footer-social-media a:hover i {
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
}


/* -------------------------------------------------------------------------------------------------------Headings */
h2 {
    text-transform: uppercase;
    margin-top: 20px;
    color: #505050
}

.modal-title {
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------------------------------------Horizontal Rules */

hr {
    border-color: #E74C3C;
    height: 3px;
}
